:root {
    --primary-color: #0f1116;
    --primary-bg-color: #f0f0f4;
    --secondary-bg-color: #f6f6f9;
    --tertiary-bg-color: #e9e9e9;
}

@media(prefers-color-scheme: dark) {
    :root {
        --primary-color: #e9e9e9;
        --primary-bg-color: #0f1116;
        --secondary-bg-color: #1a1d24;
        --tertiary-bg-color: #2e2f38;
    }
}

body {
    display: flex;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    margin: 0 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: zigen-font, sans-serif, 'Plangothic P0', 'Plangothic P1', 'WenJin Mincho Plane 0', 'WenJin Mincho Plane 1', 'WenJin Mincho Plane 2';
}

.root-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    background-color: var(--tertiary-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    margin: 0.5em;
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav .nav-right {
    margin-left: auto;
}

nav picture, nav img {
    max-width: 100%;
    height: 24px;
    padding: 2px;
}

.trainer-root {
    background-color: var(--secondary-bg-color);
    width: 800px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.trainer-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 2em;
}

.trainer-welcome > h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.trainer-welcome > h2 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 2em;
}

.trainer-welcome > p {
    font-size: 20px;
    padding: 2em;
}

.trainer-welcome > select {
    background-color: var(--tertiary-bg-color);
    color: var(--primary-color);
    font-size: 1.2em;
    border: 0;
    border-radius: 8px;
    padding: 0.5em 1.0em;
}

.trainer-welcome > button {
    background-color: var(--tertiary-bg-color);
    color: var(--primary-color);
    font-size: 1.2em;
    border: 0;
    border-radius: 6px;
    width: 5em;
    height: 2em;
}

.trainer-scheme-options {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.trainer-scheme-options > input[type="checkbox"] {
    margin: 0 0.5em;
}

.trainer-nav {
    width: 100%;
    height: 28px;
    background-color: var(--tertiary-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.trainer-nav > p {
    margin: 0.5em;
    user-select: none;
}

.trainer-tips {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-5em);
    opacity: 1;
    background-color: transparent;
    font-weight: 600;
    animation: tips-fade 1s 2s forwards;
}

@keyframes tips-fade {
  from { opacity: 1; }
  to { opacity: 0; display: none }
}

.trainer-zigen-confusable {
    position: absolute;
    top: 2em;
    left: 2em;
    font-size: 20px;
    font-weight: 700;
}

.trainer-zigen-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.trainer-zigen-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: color-mix(in srgb, var(--tertiary-bg-color), transparent 50%);
    margin: 0.2em;
    border-radius: 6px;
    padding-bottom: 0.5em;
}

.trainer-zigen-display {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    max-height: 3em;
    margin: 0.1em 0.5em;
}

.trainer-zigen-inputs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.trainer-zigen-inputs > input[type="text"] {
    display: none;
}

.trainer-zigen-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0.1em;
    border-radius: 3px;
    font-weight: 600;
    background-color: var(--tertiary-bg-color);
    color: var(--primary-color);
    cursor: text;
}

.trainer-zigen-input:focus {
    outline: none;
}

.trainer-zigen-group-answer {
    font-size: 18px;
    font-weight: bold;
    /* 使用可分辨小写L和大写i的无衬字体 */
    font-family: 'Noto Sans', 'Source Sans', 'Source Sans Pro', sans-serif;
}

.trainer-zigen-group-answer > p {
    margin: 0.2em;
}

.trainer-zigen-group-description {
    font-size: 16px;
    text-align: center;
}

.trainer-zigen-group-description > p {
    margin: 0.2em 1em;
}

.trainer-zigen-description {
    font-size: 16px;
    margin: 0.1em 0.5em;
    flex-basis: 100%;
    text-align: center;
}

.flash-red {
    animation: flash-red-anim 1s ease-in-out 0s 2;
    animation-composition: add ;
}

@keyframes flash-red-anim {
    50% {
        background-color: rgba(63, 10, 20, 0.5);
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: 100%;
        margin: 0;
    }

    nav {
        width: 100vw;
    }

    .trainer-root {
        width: 100vw;
        height: fit-content;
        top: 28px;
    }

    .trainer-nav {
        border-radius: 0;
    }

    .trainer-scheme-options {
        display: grid;
        grid-template-columns: 2fr 8fr;
    }

    .trainer-zigen-confusable {
        position: absolute;
        top: 48px;
        left: 12px;
        width: 1em;
        line-height: 1.2;
        font-size: 20px;
        font-weight: 700;
    }

    .trainer-zigen-card {
        margin-top: 1em;
        align-content: center;
        padding-bottom: 2em;
    }

    .trainer-zigen-group {
        align-self: flex-start;
        min-height: 160px;
    }

    .trainer-zigen-inputs > input[type="text"] {
        display: block;
        background-color: var(--tertiary-bg-color);
        border: none;
        width: 6em;
        height: 2em;
        color: var(--primary-color);
        font-size: 1.1em;
        font-weight: 400;
        text-align: center
    }

    .trainer-zigen-input {
        display: none;
    }

    .trainer-tips {
        font-size: 20px;
        background-color: color-mix(in srgb, var(--secondary-bg-color), transparent 50%);
        padding: 1em;
        border-radius: 6px;
    }
}
